<!DOCTYPE html>
<html>
  <head>
    <title>Resultados ENEM</title>
    <%= csrf_meta_tags %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"
          rel="stylesheet" />
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.min.js">
    </script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/i18n/pt-BR.js"></script>

    <style type="text/css">
      @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic");
      body {
        font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
        background: #E5376E;
        color: white;
        font-size: 13pt;
      }
      .main {
        width: 90%;
        max-width: 30rem;
        margin: 0 auto;
      }
      h1 {
        text-transform: uppercase;
        text-align: center;
        border-bottom: 1pt solid white;
        padding-bottom: 2rem;
      }
      #new_user {
        display: flex;
        flex-flow: column;
      }
      .input label {
        font-size: 0.9rem;
      }
      .input {
        display: flex;
        flex-flow: column;
        margin-bottom: 1.3rem;
      }
      .input input {
        background: #E5376E;
        border: 0.8pt solid #E5A3B8;
        padding: 0.8rem;
        color: white;
        border-radius: 4pt;
        font-size: 1rem;
        outline: none;
      }
      .input input:focus {
        border-color: white;
      }
      .input .error {
        font-size: 0.8rem;
        padding: 0.2rem;
        border-radius: 0 0 4pt 4pt;
        background: #E57995;
        border-top: 4pt solid #E57995;
        margin-top: -4pt;
        z-index: -1;
        position: relative;
      }
      #submit {
        padding: 1rem 3rem;
        background: white;
        color: #E5376E;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
        align-self: center;
        font-size: 1rem;
        border: 0.8pt solid white;
        border-radius: 4pt;
        cursor: pointer;
        transition: background-color ease 0.3s, color ease 0.3s;
      }
      #submit:hover {
        background-color: #E55988;
        color: white;
        font-stretch: semi-expanded;
      }
      .select2-selection {
        background: #E5376E !important;
        border-color: #E5A3B8 !important;
        font-size: 1rem;
      }
      .select2-selection, .select2-selection__rendered, .select2-selection__arrow {
        height: 2.6rem !important;
        line-height: 2.6rem !important;
        color: white !important;
      }
      .select2-results {
        color: #999;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <h1>Complete seu cadastro</h1>
      <%= render 'sign_up_form' %>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#user_phone").mask("(99) 9999-9999?9").focusout(function (event) {
          var target, phone, element;
          target = (event.currentTarget) ? event.currentTarget : event.srcElement;
          phone = target.value.replace(/\D/g, '');
          element = $(target);
          element.unmask();
          if(phone.length > 10) {
              element.mask("(99) 99999-999?9");
          } else {
              element.mask("(99) 9999-9999?9");
          }
        });

        $("#user_schools").select2({
          language: 'pt-BR',
          ajax: {
            url: "/v1/schools/search",
            dataType: 'json',
            delay: 250,
            data: function (params) {
              return {
                term: params.term
              };
            },
            processResults: function (data, params) {
              return {
                results: $.map(data, function (item) {
                      return {
                          text: item.name,
                          id: item.id,
                          inep_code: item.inep_code
                      };
                  })
              };
            },
            cache: true
          },
          minimumInputLength: 1
        });
      });
    </script>
  </body>
</html>
